{% load bootstrap4 static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>실시간 스포츠 뉴스</title>

    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.0/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static 'jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.0.0/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<div class="col-xs-12" style="min-height:35px;padding:0;border-right:0px solid #838383;padding-top:10px;padding-bottom:10px;">
        <p align="center" style="margin:5px;letter-spacing:-1px;"><font color="black">Contact Us -> <a href="gw9122@naver.com">gw9122@naver.com</a></font></p>
        <p align="center" style="margin:5px;letter-spacing:-1px;"><font color="black">Source Code -> <a href="https://github.com/taxijjang/sports_news_crwaling_with_django">taxijjang Github</a></font></p>
    </div>
</body>
</html>